<%- include('./partials/head') %> 
<body>
	<%- include('./partials/header') %> 
	<div class="container">
        <div class="row">
            <div class="col-6 mx-auto">
                <div class="card shadow">
                    <div class="car-body">
                        <video src=""></video>
                    </div>
                </div>

            </div>
        </div>
    </div>
	<%- include('./partials/footer') %>
</body>
</html>